/* ==UserStyle==
@name           tech.lgbt - 11/6/2022, 11:40:27 AM
@namespace      github.com/openstyles/stylus
@repository     github.com/aleph-naught2tog/masto_stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("tech.lgbt") {
  :root {
    scrollbar-color: unset;

    --pastel-red: #ff7878;
    --pasted-red-orange: #ffa888;
    --pastel-orange: #ffc898;
    --pastel-yellow: #fff89a;
    --pastel-rainbow-gradient: linear-gradient(
      to right,
      var(--pastel-red),
      var(--pastel-orange),
      var(--pastel-yellow),
      #cdf2ca,
      #a2cdcd,
      #d1e8e4,
      #cab8ff
    );

    --mastodon-light-purple: #9697ff; /* 239°, 100%, 79% */
    --mastodon-purple-radio: #7778ff; /* 240°, 100%, 73% */
    --mastodon-bright-purple: #6364ff; /* 240°, 100%, 69% */
    --mastodon-bright-purple-inactive: #595aff; /* 240°, 100%, 67% */

    /*
      USER THEMEING
    */

    /* 16°, 100%, 77% */

    --theme-semi-transparent-primary: hsla(16, 100%, 77%, 0.3);
    --theme-primary-lighter: hsl(16, 100%, 77%);
    --theme-primary-medium: hsl(16, 100%, 72%);
    --theme-primary: hsl(16, 100%, 68%);
    --theme-primary-inactive: hsl(16, 100%, 65%);

    /* this is for setting the boost button color */
    --masto-base-hue: 239deg;
    --boost-target-hue: 16deg;

    --theme-radio-button: var(--theme-primary-medium);
    --theme-link-color: var(--theme-primary-lighter);
  }

  /*
  ==============================================================================
  FONT SIZE ADJUSTMENTS
  ==============================================================================
  */

  body {
    /* this handles things lik your username etc */
    font-size: 14px;
  }

  .column-link {
    /* nav links */
    font-size: 18px;
  }

  .status__content {
    /* timeline content */
    font-size: 16px;
  }

  /*
  ==============================================================================
  COLOR CHANGES
  ==============================================================================
  */

  .radio-button__input.checked {
    border-color: var(--theme-radio-button);
    background: var(--theme-radio-button);
  }

  .muted .poll__chart.leading {
    background: var(--theme-semi-transparent-primary);
  }

  .button,
  .admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
    background: var(--theme-primary-inactive);
  }

  .column-header.active .column-header__icon,
  .column-link--transparent.active,
  .column-header .column-header__back-button,
  .notification__message .fa,
  .icon-button.active {
    color: var(--theme-primary-lighter);
  }

  .icon-button.active[aria-label='Unboost'] > i.fa-retweet {
    color: var(--theme-primary-lighter);
    filter: hue-rotate(calc(var(--boost-target-hue) - var(--masto-base-hue)));
  }

  /*
    Background changes from BRIGHT PURPLE
    these should be your PRIMARY
  */
  .poll__chart.leading,
  .button:hover,
  .icon-with-badge__badge {
    background: var(--theme-primary);
  }

  .status a.status-link,
  .detailed-status a.status-link,
  .status__wrapper--filtered__button,
  .status__content a.mention {
    /* this allows us to set up coloring later */
    text-decoration: none;
    color: var(--theme-link-color);
  }

  .status a.status-link span,
  .detailed-status a.status-link,
  .status__content a.mention span {
    text-decoration: none;
    border-bottom: 1.5px solid;
    border-color: var(--theme-link-color);
  }

  .column-header button {
    background: transparent;
  }

  /*
  DETAILS
  */

  /*
    This is the glow above the header when there are new posts.
  */
  .column-header__wrapper.active {
    box-shadow: 0 1px 0 var(--theme-semi-transparent-primary);
  }

  .column-header__wrapper.active::before {
    background: radial-gradient(
      ellipse,
      var(--theme-semi-transparent-primary) 0,
      transparent 60%
    );
  }

  /*
  elephant!
  */
  #logo-symbol-wordmark > path:not([fill="currentColor"]) {
    fill: var(--theme-primary);
  }

  /*================ ADDONS ===========*/
  /* highlights images with no alt-text */
  img:not([alt]):not([data-src*='assets']):not(#profile_page_avatar):not(.parallax) {
    border-top: 5px solid red !important;
  }

  /* clearly shows what is a DM and what is not */
  .status__wrapper-direct,
  .conversation {
    /* if you need higher contrast for this border, try: #fff */
    border: 1px dashed #ffffff77;
    border-left: 5px solid var(--theme-semi-transparent-primary);
  }

  /*
  ------------------- MAX STYLES -------------------
  */

  /* a.column-link:hover span {
    padding-bottom: 2px;
    border-bottom: 3px solid;
    border-image: var(--pastel-rainbow-gradient) 5;
  }

  a.status-link:hover {
    color: #ffa888;
  }

  a.status-link:hover span {
    color: var(--theme-link-color);
    border-image: var(--pastel-rainbow-gradient) 5;
  }

  a.column-link:hover i {
    color: var(--pastel-orange);
  } */

  /*
    cute little rainbow
  */
  /* .tabs-bar__wrapper {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 5px solid;
    border-image: var(--pastel-rainbow-gradient) 5;
  } */

  /*
      DIRECT MESSAGE RELATED STYLES
  */

  /* [title='mentioned people only' i]::before {
    content: '💌';
    font-size: 1.1em;
  }

  .status__wrapper--filtered {
    background: #1e212a;
  }

  button.load-more.load-gap {
    font-size: 105%;
    box-shadow: inset 0 0 16px 12px rgba(11, 11, 15, 0.2);
    background: radial-gradient(
        ellipse at top,
        var(--theme-semi-transparent-primary) 0,
        transparent 60%
      ),
      radial-gradient(
        ellipse at bottom,
        var(--theme-semi-transparent-primary) 0,
        transparent 60%
      );
  } */
}
