/* ==UserStyle==
@name           tech.lgbt - 11/6/2022, 11:40:27 AM
@namespace      github.com/openstyles/stylus
@repository     github.com/aleph-naught2tog/masto_stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("tech.lgbt") {
  :root {
    scrollbar-color: unset;

    --pastel-red: #ff7878;
    --pasted-red-orange: #ffa888;
    --pastel-orange: #ffc898;
    --pastel-yellow: #fff89a;
    --pastel-rainbow-gradient: linear-gradient(
      to right,
      var(--pastel-red),
      var(--pastel-orange),
      var(--pastel-yellow),
      #cdf2ca,
      #a2cdcd,
      #d1e8e4,
      #cab8ff
    );

    /*
      USER THEMEING
    */
    /* hsl(339, 100%, 48%) */
    --accent_hue: 339deg;
    --accent_sat: 100%;
    --accent_light: 48%;

    --theme-semi-transparent-accent: hsla(
      var(--accent_hue),
      var(--accent_sat),
      var(--accent_light),
      0.3
    );
    --theme-accent-lighter: hsl(
      var(--accent_hue),
      var(--accent_sat),
      calc(var(--accent_light) + 10%)
    );
    --theme-accent-medium: hsl(
      var(--accent_hue),
      var(--accent_sat),
      calc(var(--accent_light) + 5%)
    );
    --theme-accent: hsl(
      var(--accent_hue),
      var(--accent_sat),
      var(--accent_light)
    );
    --theme-accent-inactive: hsl(
      var(--accent_hue),
      var(--accent_sat),
      calc(var(--accent_light) - 5%)
    );

    --theme-neutral-darkest: hsl(227, 15%, 12%);
    --theme-neutral-darker: hsl(224, 16%, 19%);
    --theme-neutral-dark: hsl(222, 16%, 21%);
    --theme-neutral-grim: hsl(227, 16%, 23%);
    --theme-neutral-bright: hsl(0, 0%, 92%);
    --theme-neutral-brightest: hsl(0, 0%, 100%);

    /*
      this is for setting the boost button color. The "boost target hue" would
      usually be the HUE value of your `theme-accent` color.
    */
    --masto-base-hue: 239deg;
    --boost-target-hue: var(--accent_hue);

    --theme-radio-button: var(--theme-accent-medium);
    --theme-link-color: var(--theme-accent-lighter);

    --theme-font-color-fallback: #fff;

    --theme-page-background: var(--theme-neutral-darkest);
    --theme-center-column-header-background: var(--theme-neutral-grim);
    --theme-search-input-background: var(--theme-neutral-darker);
    /* The timeline background matches the search input background in the standard UI */
    --theme-timeline-background: var(--theme-neutral-darker);
    --theme-timeline-hover: var(--theme-neutral-dark);
    --theme-compose-background: var(--theme-neutral-brightest);
    --theme-compose-tools-background: var(--theme-neutral-bright);

    --theme-reply-indicator-background: hsl(215, 29%, 70%);
  }

  /*
  ==============================================================================
  FONT SIZE ADJUSTMENTS
  ==============================================================================
  */

  body {
    /* this handles things like your username etc */
    font-size: 14px;
  }

  .column-link {
    /* nav links */
    font-size: 18px;
  }

  .status__content {
    /* timeline content */
    font-size: 16px;
  }

  /*
  ==============================================================================
  COLOR CHANGES
  ==============================================================================
  */

  /* SECTION BACKGROUNDS */
  body {
    background: var(--theme-page-background);
  }

  .search__input {
    background: var(--theme-search-input-background);
  }

  .column > .scrollable {
    background: var(--theme-timeline-background);
  }

  .column-header,
  .account-header {
    background: var(--theme-center-column-header-background);
  }

  .load-more:hover {
    background: var(--theme-timeline-hover);
  }

  a.status-card.compact:hover {
    background-color: var(--theme-neutral-grim);
  }

  .compose-form .autosuggest-textarea__textarea,
  .spoiler-input__input {
    background: var(--theme-compose-background);
  }

  .compose-form .compose-form__buttons-wrapper {
    background: var(--theme-compose-tools-background);
  }

  .reply-indicator {
    background: var(--theme-reply-indicator-background);
  }

  /* TEXT COLORS */
  body {
    /* Note: this rarely shows up in the UI. Good to set, but won't do much. */
    color: var(--theme-font-color-fallback);
  }

  /* INPUTS */

  .radio-button__input.checked,
  .compose-form__sensitive-button .checkbox.active {
    border-color: var(--theme-radio-button);
    background: var(--theme-radio-button);
  }

  .muted .poll__chart.leading {
    background: var(--theme-semi-transparent-accent);
  }

  .dropdown-menu__item a:active,
  .dropdown-menu__item a:focus,
  .dropdown-menu__item a:hover,
  .dropdown-menu__item button:active,
  .dropdown-menu__item button:focus,
  .dropdown-menu__item button:hover {
    background: var(--theme-accent);
  }

  /* BUTTONS, LINKS, ETC */

  .button,
  .admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
    background: var(--theme-accent-inactive);
  }

  .column-header.active .column-header__icon,
  .column-link--transparent.active,
  .column-header .column-header__back-button,
  .column-back-button,
  .notification__message .fa,
  .icon-button.active,
  .icon-button.inverted.active,
  .text-icon-button.active,
  .link-button {
    color: var(--theme-accent-lighter);
  }

  .column-header.active .column-header__icon {
    text-shadow: 0 0 10px var(--theme-semi-transparent-accent);
  }

  .icon-button.active[aria-label='Unboost'] > i.fa-retweet {
    color: var(--theme-accent-lighter);
    filter: hue-rotate(calc(var(--boost-target-hue) - var(--masto-base-hue)));
  }

  .poll__chart.leading,
  .button:hover,
  .button:focus,
  .icon-with-badge__badge,
  .privacy-dropdown__option.active,
  .privacy-dropdown__option:hover,
  .privacy-dropdown.active .privacy-dropdown__value.active .icon-button,
  .language-dropdown__dropdown__results__item.active,
  .button.logo-button,
  .button.logo-button:hover {
    background: var(--theme-accent);
  }

  .button.disabled,
  .button:disabled {
    background: var(--theme-accent-lighter);
    opacity: 0.5;
  }

  .status a.status-link,
  .detailed-status a.status-link,
  .status__wrapper--filtered__button,
  .status__content a.mention,
  .scrollable a {
    text-decoration: none;
    color: var(--theme-link-color) !important;
  }

  .status a.status-link span,
  .detailed-status a.status-link,
  .status__content a.mention span {
    text-decoration: none;
    border-bottom: 1.5px solid;
    border-color: var(--theme-link-color);
  }

  .column-header button,
  .block-modal__cancel-button,
  .confirmation-modal__cancel-button,
  .confirmation-modal__secondary-button,
  .mute-modal__cancel-button,
  .block-modal__cancel-button:hover,
  .confirmation-modal__cancel-button:hover,
  .confirmation-modal__secondary-button:hover,
  .mute-modal__cancel-button:hover {
    background: transparent;
  }

  /*
  DETAILS
  */

  /*
    This is the glow above the header when there are new posts.
  */
  .column-header__wrapper.active {
    box-shadow: 0 1px 0 var(--theme-semi-transparent-accent);
  }

  .column-header__wrapper.active::before {
    background: radial-gradient(
      ellipse,
      var(--theme-semi-transparent-accent) 0,
      transparent 60%
    );
  }

  /*
    sparklines that appear on explore page
  */
  .trends__item__sparkline path:first-child {
    fill: var(--theme-semi-transparent-accent) !important;
  }

  .trends__item__sparkline path:last-child {
    stroke: var(--theme-accent-lighter) !important;
  }


  /*
  elephant!
  */
  #logo-symbol-wordmark > path:not([fill='currentColor']) {
    fill: var(--theme-accent);
  }

  /*================ ADDONS ===========*/
  /* highlights images with no alt-text */
  img:not([alt]):not([data-src*='assets']):not(#profile_page_avatar):not(.parallax) {
    border-top: 5px solid red !important;
  }

  /* clearly shows what is a DM and what is not */
  .status__wrapper-direct,
  .conversation {
    /* if you need higher contrast for this border, try: #fff */
    border: 1px dashed #ffffff77;
    border-left: 5px solid var(--theme-semi-transparent-accent);
  }

  /*
  ------------------- MAX STYLES -------------------
  */

  /* a.column-link:hover span {
    padding-bottom: 2px;
    border-bottom: 3px solid;
    border-image: var(--pastel-rainbow-gradient) 5;
  }

  a.status-link:hover {
    color: #ffa888;
  }

  a.status-link:hover span {
    color: var(--theme-link-color);
    border-image: var(--pastel-rainbow-gradient) 5;
  }

  a.column-link:hover i {
    color: var(--pastel-orange);
  } */

  /*
    cute little rainbow
  */
  /* .tabs-bar__wrapper {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 5px solid;
    border-image: var(--pastel-rainbow-gradient) 5;
  } */

  /*
      DIRECT MESSAGE RELATED STYLES
  */

  /* [title='mentioned people only' i]::before {
    content: '💌';
    font-size: 1.1em;
  }

  .status__wrapper--filtered {
    background: #1e212a;
  }

  button.load-more.load-gap {
    font-size: 105%;
    box-shadow: inset 0 0 16px 12px rgba(11, 11, 15, 0.2);
    background: radial-gradient(
        ellipse at top,
        var(--theme-semi-transparent-accent) 0,
        transparent 60%
      ),
      radial-gradient(
        ellipse at bottom,
        var(--theme-semi-transparent-accent) 0,
        transparent 60%
      );
  } */
}
